.toggleButton .customButton {
  width: 120px;
  height: 49px;
  line-height: 35px;
  border: 1px solid var(--black-alpha-300) !important;
  border-radius: 49px;
  cursor: pointer;
  background-color: var(--custom-toggle-button-to-dark);
  color: var(--placeholder-color);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  transition: 0.2s;
}

.toggleButton .customButton input[type="radio"] {
  display: none;
}

.toggleButton .customButton:hover {
  background-color: var(--button-hover) !important;
}

.toggleButton .customButton:active,
.active {
  background-color: var(--main-color) !important;
}
