.toggleButton .customButton {
  width: 120px;
  height: 49px;
  line-height: 35px;
  border: 1px solid rgba(226, 226, 226, 0.123) !important;
  border-radius: 49px;
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(70, 70, 70);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  transition: 0.2s;
}

.toggleButton .customButton input[type="radio"] {
  display: none;
}

.toggleButton .customButton:hover {
  background-color: #7fc8f8 !important;
  color: rgb(255, 255, 255) !important;
}

.toggleButton .customButton:active,
.active {
  background-color: #52b1f3 !important;
  color: rgb(255, 255, 255) !important;
}
