.job-advertisements {
  position: relative;
  background-color: var(--main-to-dark-color);
  min-height: 50vh;
  padding: 150px 0;
  z-index: 1;
}

.job-advertisements .job-advertisement-text h1 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 20px;
}

.job-advertisements .job-advertisement-text .highlighted-word {
  color: var(--color-8);
}

.job-advertisements .job-advertisement-text p {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  font-weight: 300;
}

.job-advertisements .advertisements-image {
  position: relative;
  z-index: 1;
}

.job-advertisements .advertisements-image img {
  width: 100%;
  animation: pulse_03 3s ease infinite;
}

.job-advertisements .search{
  max-width: 500px;
}

.job-advertisements .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.job-advertisements .wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 153px;
}

.job-advertisements .wave .shape-fill {
  fill: var(--black-100);
}

/*
    Advertisement section
*/

.advertisements {
  position: relative;
  background-color: var(--black-100);
}

/*
    Responsive
*/
@media (max-width: 991px) {
  .advertisements-image .circle {
    height: 320px;
    width: 320px;
  }
  .advertisements-image .circle::before {
    left: 18px;
    top: 18px;
    transform-origin: 142px 142px;
  }
}

@media (max-width: 575px) {
  .advertisements-image,
  .advertisements-image .circle {
    display: none;
  }
}
