.searchBox .input-group{
  box-shadow: var(--shadow-black-100);
  border-radius: 30px;
}

.searchBox .search-box {
  display: flex;
}

.searchBox .search-box .search-bar {
  width: 600px;
}

.searchBox .form-control,
.searchBox .search-box .search-bar .dropdown .list-group-item,
.searchBox .search-box .btn.btn-primary {
  background-color: var(--black-000);
  padding: 12px 0px 12px 20px;
  border: none;
  border-radius: 30px;
  color: var(--dark-to-main-color);
  font-size: 16px;
  /* text-transform: capitalize; */
  transition: all 0.5 ease;
  font-weight: 500;
}

.searchBox .search-box .btn.btn-primary {
  padding: 12px 30px;
  animation: pulse_01 3s ease infinite;
}

.searchBox .search-box .btn.btn-primary:focus {
  box-shadow: var(--shadow-black-300);
}

.searchBox .search-box .btn.btn-primary:hover {
  color: var(--black-000);
  background-color: var(--main-color);
  animation: none;
  box-shadow: var(--shadow-black-100);
}

.searchBox .search-box .btn.btn-primary .search-button-text {
  padding-left: 10px;
}

.searchBox .form-control:focus {
  box-shadow: none;
  animation: pulse_without_scale_01 1s ease;
  color: var(--main-color);
}

.dark .searchBox .search-bar .form-control:focus {
  background-color: var(--black-700);
}

.searchBox .search-bar .scrollable-list {
  max-height: 200px;
}

.searchBox .search-bar .scrollable-list .list-group-item:first-child {
  border-top: none;
}

.searchBox .search-bar .scrollable-list .list-group-item {
  border-radius: 0px;
  border-right: none;
  background-color: var(--black-000);
  color: var(--black-500);
}

.searchBox .search-bar .scrollable-list .list-group-item:hover {
  cursor: pointer;
  background-color: var(--black-100);
  color: var(--black-900);
}
